<div ng-controller="resque">

  <h1>Locks ({{ locks.length }})</h1>

  <div class="row">
    <div class="col-md-12">

      <table id="locksTable" class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Expires</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="l in locks">
            <td>{{ ($index + 1) }}</td>
            <td>{{ l.lock }}</td>
            <td>{{ l.at.toString() }}</td>
            <td><button ng-click="delLock(l.lock)" class="btn btn-xs btn-warning">Delete</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
