<div ng-controller="resque">

  <h1>{{ queue }} ({{ queues[queue].length }})</h1>

  <p>
    <button ng-click="delQueue()" class="btn btn-xs btn-danger">Delete Queue</button>
  </p>

  <table id="jobTable" class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>class</th>
        <th>Arguments</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="job in jobs">
        <td>{{ (currentPage * perPage) + ($index + 1) }}</td>
        <td>{{ job.class }}</td>
        <td>
          <ul>
            <li ng-repeat="a in job.args">{{ a }}</li>
          </ul>
      </tr>
    </tbody>
  </table>

  <ul class="pagination pagination-sm" ng-if="jobs.length > 0">
    <li ng-class="pagination.showBack ? '' : 'disabled'" ><a href="resque/#/queue/{{ queue }}/{{ pagination.firstPage }}">&laquo;</a></li>

    <li ng-repeat="p in pagination.pages" ng-class="p.active ? 'active' : ''">
      <a href="/resque/#/queue/{{ queue }}/{{ p.page }}">{{ p.page }}</a>
    </li>

    <li ng-class="pagination.showForward ? '' : 'disabled'"><a href="/resque/#/queue/{{ queue }}/{{ pagination.lastPage }}">&raquo;</a></li>
  </ul>

</div>
