<div ng-controller="resque">

  <h1>Resque Overview</h1>

  <div class="row">
    <div class="col-md-3">
      <h3>Stats:</h3>
      <table class="table table-hover ">
        <tbody>
          <tr ng-repeat="(k, v) in stats" ng-if="k.indexOf(':') < 0">
            <td>{{ k }}</td>
            <td>{{ v }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-9">
      <div id="overviewChart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Queues ({{ counts.queues }})</h2>

      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Queue Name</th>
            <th>Jobs</th>
          </tr>
        </thead>
        <tbody>
          <tr class="danger">
            <td><strong><a href="/ah-resque-ui/#/failed">failed</a></strong></td>
            <td><strong>{{ counts.failed }}</strong></td>
          </tr>
          <tr ng-repeat="(q, obj) in queues">
            <td>{{ q }}</td>
            <td>{{ obj.length }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-8">
      <h2>Workers ({{ counts.workers }})</h2>

      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Worker Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(name, worker) in workers">
            <td>{{ name }}</td>
            <td ng-if="worker.status">{{ worker.status }}</td>
            <td ng-if="!worker.status">working on {{ worker.queue }}#{{ worker.payload['class'] }} for {{ worker.delta }}s</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
